name: Release Jellyfin Custom on Merge
on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "jf-custom/**"
jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract.outputs.version }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Extract Version
      id: extract
      run: |
        version=$(grep 'FROM jellyfin/jellyfin' jf-custom/Dockerfile | grep -oP '\d+\.\d+\.\d+')
        echo "Version: $version"
        echo "version=$version" >> $GITHUB_OUTPUT
  build-images:
    needs: version
    uses: stefanabl/containers/.github/workflows/step-build.yaml@main
    secrets: inherit
    with:
      path: jf-custom
      tag: "${{ needs.version.outputs.version }}"
