on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
      tag:
        required: false
        type: string
        default: 'latest'
env:
  REGISTRY: ghcr.io
  
jobs:
  build-and-push-image:
    if: ${{ github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ inputs.path }}
          tags: |
            type=raw,value=latest
            type=sha
            type=semver,pattern={{raw}}
            type=raw,value={{date 'YYYYMMDDHHmmss'}}
             type=raw,value=${{inputs.tag}}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.19.2
        with:
          context: ./${{ inputs.path }}
          file: ./${{ inputs.path }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}